@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  max-width: 1200px;
  margin: auto;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background: #ffffff;
}

/* Button*/

.button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background: #756157;
  border: none;
}

/* Header */

.navigation {
  display: flex;
  margin: 0 auto;
  width: 1200px;
}

.navigation-list {
  width: 610px;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-user {
  width: 320px;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

/* Pages */
.main-container {
  flex-grow: 1;
}

.hero {
  background-image: url("/styles/images/hero-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #81B3D3;
}

.welcome-sedona {
  display: block;
  margin: 0 auto;
}

.about-sedona {
  text-align: center;
}

.about-sedona-title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

/* Advantages */

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 1200px;
  padding: 0;
}

.advantages-item {
  display: flex;
  height: 384px;
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-container {
  width: 400px;
}

li.advantages-item:nth-child(1), li.advantages-item:nth-child(5) {
  background: #82B3D3;
  color: #ffffff;
}

li.advantages-item:nth-child(3) {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

/* Services */

.services-list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  padding: 0;
}

.services-item {
  width: 400px;
  height: 384px;
  background: rgba(131, 179, 211, 0.12);
}

li.services-item:nth-child(even) {
  background: #FFFFFF;
}

.services-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.services-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

/* Hotel-search */

.hotel-search {
  text-align: center;
}

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

/* ubscribe to the newsletter */

.mailing {
  background-image: url("/images/main/search-background.jfif");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #81B3D3;
  text-align: center;
}

.mailing-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.mailing-subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
}

.button-mailing {
  background: #82B3D3;
  border: none;
  color:#FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
}

/* Footer */

.page-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
}

.footer-contacts-address-phone {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

/* CATALOG */

.button-blue {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #82B3D3;
  border-radius: 4px;
  border: 0;
}

.button-transparent {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: transparent;
  border: 0;
}

.button-catalog {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background: #756157;
  border-radius: 4px;
}

.inner-header {
  width: 1060px;
  margin: 0 auto;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
}

.header-catalog {
  display: flex;
  flex-direction: row;
}

.main-filter {
  background-image: url("/images/catalog/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #81B3D3;
  color: #FFFFFF;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
}

.catalog-filter-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-list {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.catalog-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotels-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotels-price {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.hotel-raiting {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background: #F2F2F2;
  border-radius: 4px;
}

.pagination-link {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background: #82B3D3;
}

.pagination-current {
  background: #F2F2F2;
  color: #000000;
}

.paginaion-disabled {
  background-color: #fff;
  color: #000;
}

.catalog-filter-group {
  width: 150px;
}
